!!!
%html
  %head
    %title
      =yield(:title) || 'Panel administracyjny'
    = stylesheet_link_tag    "application", media: "all"
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}/
  %body
    = render 'layouts/admin/navigation/top'
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          = render partial: '/layouts/admin/navigation/sidebar'
        .col-sm-9.col-md-10.main
          = render partial: 'shared/flash_messages'
          %ol.breadcrumb= render_breadcrumbs tag: :li, separator: ""
          = yield(:title) || 'Panel administracyjny'
          = yield
